In [36]:
for x in range(1,11):  
    print(x,end=" ")

1 2 3 4 5 6 7 8 9 10

l=list(range(10,1,-1))  # syntax :- range(start, end, step)
l1=list(range(20,21))   # syntax :- range(start, end)
l2=list(range(12))      # syntax :- range(0 to end-1)
print(l)
print(l1)
print(l2)

# # syntax :- for variable in iterables :

In [37]:
for y in range(1,8):
    print(y,end=" ")

1 2 3 4 5 6 7

In [38]:
for y in range(1,11):
    if(y%2==0):
        print(y," - even")
    else:
        print(y," - odd")

1  - odd
2  - even
3  - odd
4  - even
5  - odd
6  - even
7  - odd
8  - even
9  - odd
10  - even

In [39]:
row=int(input("Enter the row : "))
for r in range(1,row+1):
    for c in range(1,r+1):
        if(r>=c):
            print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [40]:
row=9
for r in range(1,row+1):
    for c in range(1,row+1):
        if(r<=c):
            print("*",end=" ")
    print()

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

# # List, Tuples, Sets, Dictionaries

In [41]:
list_string = ["apple", "banana", "cherry"]  # square bracket = big bracket
list_integer=[1,2,34,5,65]
list_boolean=[True,False,True]
print(list_string)
print(list_integer)
print(list_boolean)

['apple', 'banana', 'cherry']
[1, 2, 34, 5, 65]
[True, False, True]

In [42]:
list_string = ["apple", "banana", "cherry","kuldeep"]  # square bracket = big bracket
print(list_string[3])
print(list_string[0:3])

kuldeep
['apple', 'banana', 'cherry']

In [43]:
friends=["chintu","shreekant","sambit","pankaj","naru"]
if "chintu" in friends:
    print("Present")

Present

In [44]:
friends=["chintu","shreekant","sambit","pankaj","naru"]
print(friends)
friends[0]="bikash"
print(friends)
friends[0:2]=["kul"]
print(friends)

['chintu', 'shreekant', 'sambit', 'pankaj', 'naru']
['bikash', 'shreekant', 'sambit', 'pankaj', 'naru']
['kul', 'sambit', 'pankaj', 'naru']

In [45]:
list=[4,53,45,454,53,43]
print(list)
# # insert 5 at second position
list.insert(2,"534759834")
print(list)
list.append("759834")
print(list)
list.remove(4)
print(list)
list.pop()
print(list)
del list[1]
print(list)
for x in list:
    print(x,end=" ")

[4, 53, 45, 454, 53, 43]
[4, 53, '534759834', 45, 454, 53, 43]
[4, 53, '534759834', 45, 454, 53, 43, '759834']
[53, '534759834', 45, 454, 53, 43, '759834']
[53, '534759834', 45, 454, 53, 43]
[53, 45, 454, 53, 43]
53 45 454 53 43

In [46]:
for x in list:
        print(x,end=" ")
        for i,x in enumerate(list):
         print(i," ",x)

53 0   53
1   45
2   454
3   53
4   43
45 0   53
1   45
2   454
3   53
4   43
454 0   53
1   45
2   454
3   53
4   43
53 0   53
1   45
2   454
3   53
4   43
43 0   53
1   45
2   454
3   53
4   43

In [47]:
list=[4,53,45,454,53,43]
for i in range(len(list)):
    print(i," ",list[i])
print("---------")
i=0
while i<len(list):
    print(i," ",list[i])
    i=i+1
print("---------")
# for j,x in iterable(0),list:
#     print(j)

0   4
1   53
2   45
3   454
4   53
5   43
---------
0   4
1   53
2   45
3   454
4   53
5   43
---------

In [48]:
tuple=(1,"hello",3,4.80,54,43)
print(tuple)
# tuple.append(123)

(1, 'hello', 3, 4.8, 54, 43)

In [49]:
a=5,6,7
type(a)

tuple

In [50]:
l=[23,23]
print(l)
s={12,12}
print(s)

[23, 23]
{12}

In [51]:
s={12,12,43,5,46,7,687,79,6756,54}
s1={343.3,455}
for i in s:
    print(i,end=" ")
print()
s.add(27)
print(s)
s.add(297)
print(s)

6756 5 7 43 12 46 687 79 54
{6756, 5, 7, 43, 12, 46, 687, 79, 54, 27}
{6756, 5, 7, 297, 43, 12, 46, 687, 79, 54, 27}

In [52]:
dict={
    666:"hello",
    "fdf":2.3,
}
print(dict)
for i in dict:
    print(i,"\t : ",dict[i])

{666: 'hello', 'fdf': 2.3}
666 	 :  hello
fdf 	 :  2.3

In [53]:
dict={
    666:"hello",
    "fdf":2.3,
}
print(dict)
x=dict.keys()
print(type(x))

{666: 'hello', 'fdf': 2.3}
<class 'dict_keys'>

In [54]:
def greeting():
    print("good afternoon")
def pintuBhaiya():
    print("Nasta khilayo bhaiya")
greeting()
pintuBhaiya()

good afternoon
Nasta khilayo bhaiya

In [55]:
list=[2,3,4,3,4]
for i, x in enumerate(list):
    print(i, x)

0 2
1 3
2 4
3 3
4 4